
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.create-coupon{
    background-color: black;
    border-radius: 5px;
   border: 0.5px solid rgba(255, 255, 255, 0.137);
    color: white;
    max-width: 30rem;
      width: 100%;
    height: 40%;
   padding: 4rem;
   position: relative;


    > article > form > div >input{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;

      
      }
       > article > form  > button {
        font-weight: 700;
        font-size: 1.1rem;
        width: 100%;
        padding: 1rem;
        border: none;
        color: white;
        cursor: pointer;
        margin: 2rem 0;
        border-radius: 10px;
        grid-column: 1/3;
        background-color: #f06292;
        &:hover{
          background-color: #c2185b;
        }
    }
    .delete-btn{
    background-color: rgb(243, 1, 1);
    color: white;
    font-size: 1.2rem;
    @include square(2.5rem);
    @include flex;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    position: absolute;
    top: -1.2rem;
    right: -1.2rem;
    }
    
}